html { height: 100%; overflow-y: scroll; }

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: monospace;
	background: #202020;
	font-size: 12px;
}



#wrapper {
	position: relative;
	background: url("../images/checkers.gif");
}


#wrapper.horizontal {
	height: 90%;
	width: auto;
	max-height: 500px;
	min-height: 300px;
	border-top: #444 solid 20px;
	border-bottom: #444 solid 20px;
	/*border-top: black 1px solid;
	border-bottom: black 1px solid;*/
}

#wrapper.vertical {
	width: 90%;
	height: 100%;

	top: 0;
	max-width: 500px;
	min-width: 300px;
	border-left: black 1px solid;
	border-right: black 1px solid;

}


#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
	color: #ffffff;
	text-align: right;
	padding: 5px;
	background: rgba(0, 0, 0, 0.5);
	border-bottom: thin solid #fff;
}

#header b {
	font-weight: bold;
	font-size: 13px;
	margin-right: 10px;
}


#footer {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	height: 20px;
	background: rgba(0, 0, 0, 0.5);
	border-top: #fff 1px solid;
}

#visualizer {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	background: url("../images/checkers.gif");
}

#visualizer canvas {
	position: absolute;
}

.clearfix {
	display: table;
	content: " ";
	clear: both;
}

#ctrlPanel {
	display: block;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
}


#ctrlPanel button {
	width: 24px;
	height: 24px;
	border-radius: 16px;
	background: #333 no-repeat 2px 2px;
	background-size: 16px 16px;
	box-shadow: 1px 1px 3px #000;
	margin-right: 3px;
}

#ctrlPanel button.play { background-image: url('../icons-white/play3.svg'); background-size: 16px 16px; background-position: 3px 2px;}
#ctrlPanel button.pause{ background-image:url('../icons-white/pause2.svg'); background-size: 14px 14px; background-position: 3px 3px; }
#ctrlPanel button.stop{ background-image:url('../icons-white/stop2.svg'); background-size: 14px 14px; background-position:3px 3px}
#ctrlPanel button.next{ background-image:url('../icons-white/next.svg'); }
#ctrlPanel button.prev{ background-image:url('../icons-white/previous.svg'); }
#ctrlPanel button.volume{ background-image:url('../icons-white/volume-medium.svg'); }


#playlist {
	bottom:0;
	/*display: none;*/
}

#timeline {
	border: inset 2px;
	height: 10px;
	border-radius: 16px;
	background: url('../images/checkers.gif');
	box-shadow: 2px 2px 8px #000 inset;
	margin: 0 17px;

}

td.timeline {
	width:100%;
	min-width: 100px;
}

#timeline button.button {
	position: relative;
	height: 19px;
	top: -5px;
	left: -12px;
}

